@import './node_modules/bulma/bulma.sass';
@import 'breadcrumb/main';

// Overwrite bulma css
.section {
  padding: 1rem 0.5rem;

  @include from(1024px) {
    padding: 3rem 1.5rem;
  }
}

// Custom css
.is-white-space-normal {
  white-space: normal !important;
}

.has-zebra-content article:nth-child(even) div.message-header{
  background-color: #0a0a0a !important;
}

.article-item:hover {
  color: #3273dc
}

p.success,p.warning,p.info {
  padding: 15px;
  border-radius: 10px;
}

p.success {
  background-color: #d5efc2;
}

p.warning {
  background-color: #fff7e5;
}

p.info {
  background-color: #d9edf7;
}